extends /index

block header
    include /sections/offer
block content
    include /sections/about
    include /sections/services
    include /sections/works
    include /sections/plus
    include /sections/brands
    include /sections/team